body{
font-size: 120%;
letter-spacing: .05rem;
}


h1{
font-family: 'Cedarville Cursive', cursive;
text-align: center;
}

h2{
font-family: 'Cedarville Cursive', cursive;
text-align: center;
}

p{
font-family: 'Satisfy', cursive;
}

a{
  font-family: 'Fjalla One', sans-serif;
  color: #FFBF00;
  font-size: 80%;
}

#menu-haut ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

li{


}

#intro
{
background-color: #FFBF00;
min-height: 180px;
color: #FFFFFF;
padding: 50px 500px;
display: flex;
align-items: center;
}

#texte1
{
  min-height: 180px;
  color: #F000000;
  padding: 50px 500px;
  display: flex;
  align-items: center;
}

#texte2
{
  min-height: 180px;
  color: #F000000;
  padding: 50px 500px;
  display: flex;
  align-items: center;
}

#texte3
{
  min-height: 180px;
  color: #F000000;
  padding: 50px 500px;
  display: flex;
  align-items: center;
}

#texte4
{
  min-height: 180px;
  color: #F000000;
  padding: 50px 500px;
  display: flex;
  align-items: center;
}

.image03{
  margin-left: 500px;
  margin-top: 80px;
}

.main-content {
  background: #FFBF00;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
